<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/add}" th:object="${newUser}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="weight">Weight</label>
    <input type="text" th:field="*{weight}" id="weight"/>
    <label for="height">Height</label>
    <input type="text" th:field="*{height}" id="height"/>
    <br/>
    <input type="submit" value="Save user"/>
</form>

</body>
</html>